{% extends 'wrapper.html' %}

{% block container %}
<div class="chat-wrapper full-height container-sm">
    <div class="chat-window" id="chat-messages-window">


    </div>
    <div class="message-form">
        <input type="text" class="form-control me-2" id="message-text-input" autofocus>
        <button type="button" class="btn btn-primary" id="send-message-button">Send</button>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">

    const sendButton = document.getElementById("send-message-button");
    // const leaveButton = document.getElementById("leave-button");
    const textInput = document.getElementById("message-text-input");
    const chatMessages = document.getElementById("chat-messages-window");

    let username = "";

    var socket = io();
    socket.on("connect", () => {
        console.log("connection successfull!")
    });

    socket.on("username", (data) => {
        username = data["username"]
    })

    const messageLeft = (text) => {
        const messageDiv = document.createElement("div")
        messageDiv.classList.add("chat-message")
        messageDiv.classList.add("message-left")

        messageDiv.innerHTML = "<p>" + text + "</p>"

        return messageDiv
    }

    const messageRight = (text) => {
        const messageDiv = document.createElement("div")
        messageDiv.classList.add("chat-message")
        messageDiv.classList.add("message-right")

        messageDiv.innerHTML = "<p>" + text + "</p>"

        return messageDiv
    }

    const messageServer = (time, text) => {
        const messageDiv = document.createElement("div")
        messageDiv.classList.add("server-message")

        messageDiv.innerHTML = "<span class='time'>" + time + "</span><span class='text'>" + text + "</span>"

        return messageDiv
    }

    const sendMessage = () => {
        const messageText = textInput.value;
        textInput.value = "";
        socket.emit("message", { "text": messageText })
    }

    sendButton.addEventListener("click", () => {
        sendMessage()
    })

    textInput.onkeydown = (e) => {
        if (e.key == "Enter") {
            sendMessage()
        }
    }

    // leaveButton.addEventListener("click", () => {
    //     socket.emit("leave")
    // })

    socket.on("message", (data) => {

        const messageType = data["message_type"]
        const messageText = data["message_text"]
        const messageAuthor = data["message_author"]
        const messageTime = data["date"]

        const date = new Date(messageTime)
        const time = `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`

        if (messageType == "server-message") {
            chatMessages.appendChild(messageServer(time, messageText))
        }
        else {
            if (messageAuthor == username) {
                chatMessages.appendChild(messageRight(messageText))
            }
            else {
                chatMessages.appendChild(messageLeft(messageText))
            }
        }
    })

</script>
{%endblock%}