{% extends 'wrapper.html' %}
{% block container %}

<div class="d-flex">
    <div class="d-flex flex-column">
        {% with messages =
        get_flashed_messages() %} {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %} {% endwith %}
        {% if user %}
        <h1>Welcome {{ user.name }}!</h1>
        {% else %}
        <h1>Welcome to talks!</h1>
        {% endif %}
        <p>Mental health is equally, if not more important than physical health. Since the beginning of pandemic it's
            been more difficult to talk things through with other people and let the mental tension go away. This
            website's purpose is to connect you with a random stranger so you can talk and share your thoughts.</p>

        {% if user %}

        <a href="/chat"><button class="btn btn-primary">Talk to someone now</button></a>

        {% else %}

        <a href="/signin"><button class="btn btn-primary">Sign In</button></a>
        <p>Not a member yet? <a href="/signup" class="link-primary">Sign Up now!</a></p>

        {% endif %}
    </div>
</div>

{%endblock%}