{% extends 'wrapper.html' %}

{% block container %}
<div>
    <div>
        <input type="text" id="message-input">
    </div>
    <div>
        <button onclick="" id="send-message">Send Message</button>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function () {
        console.log("im connected")
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        $('#send-message').click(() => {
            const message = $("#message-input").val()
            socket.emit("message", {data: message})           
        });
    });
</script>
{%endblock%}