{% extends 'wrapper.html' %}

{% block container %}

<div class="d-flex flex-column">

    {% with messages =
        get_flashed_messages() %} {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %} {% endwith %}

    <form action="/signin" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="user's email address" name="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
</div>

{%endblock%}

