{% extends 'wrapper.html' %}

{% block container %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class=flashes>
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}


    <form action="./signin" method="post">
        E-Mail: <input type="email" name="email" />
        Password: <input type="password" name="password" />
        <button type="submit">Sign Ip</button>
    </form>
    {%endblock%}